body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#mapContainer {
    display: grid;
    grid-template-columns: 1% 47% 1% 50%;
    width: auto;
}

#map {
    margin-top: 70px;
    grid-column-start: 2;
    text-align: center;
}

.panelDerecho {
    grid-column-start: 4;
    display: grid;
    grid-template-rows: 60px 90px 22px 100%;
    overflow: hidden;
    max-height: 100%;
}

.error-message {
    color: #a10f0f;
}

#casiBody {
    border-style: solid;
    border-color: rgb(43, 70, 17);
    border-radius: 8%;
    text-align: center;
    color: rgb(42, 130, 165);
}

.cuadro-galapagos {
    fill: rgba(211, 24, 24, 0);
    position: relative;
    z-index: 0;
    stroke: #000000;
    width: 26%;
    height: 17.5%;
}

.cuadro-galapagos:hover {
    cursor: pointer;
}

.cls-7 {
    z-index: 2;
}

#buscador {
    height: 30px;
    font-size: x-large;
}

#titulo-buscador {
    grid-row-start: 1;
}


.contenedor-iconos-redes {
    background-color: rgb(20, 89, 150);
}

.class-govco {
    background: #3366CC;
    background-color: rgb(51, 102, 204);
    background-image: none;
    height: 48px;
    display: flex;
    width: 100%;
}

#block-gtranslate .gtranslate {
    background-color: rgb(41, 82, 163);
}

#block-gtranslate .gtranslate {
    height: 48px;
    display: flex;
    background-color: #3366CC;
    align-items: center;
}

#block-gtranslate .gtranslate a {
    color: #fff;
    text-decoration: none;
    margin-right: 45px;
    font-size: 14px !important;
    font-weight: 700 !important;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
}

.align-items-center {
    align-items: center !important;
}

p {
    margin-top: 0;
    margin-bottom: 0rem;
    font-family: 'Roboto', sans-serif;
}

.d-flex {
    display: flex !important;
}

h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(20, 89, 150)
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

#tituloMapaContainer {
    text-align: center;
}

body {
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    -webkit-text-size-adjust: 100%;
    background-color: rgb(255, 255, 255);
}

.region-govco {
    width: 100%;
    display: grid;
    grid-template-columns: 1.2fr 0.9fr 1.4fr;
    grid-template-rows: 1fr 0.3fr;
    grid-template-rows: 3fr 0fr;
    grid-template-rows: 0fr 0fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "block-govcoimg    block-govcoimg   block-govcoimg      "
        "block-secciongovco3 block-gtranslate block-secciongovco3redes";
}

.class-govco-redes .contenedor-iconos-redes {
    background-color: rgb(30, 76, 130);
}

.class-govco-redes .contenedor-iconos-redes {
    background-color: #255FA2;
    height: 48px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
        ". . . . . .";
}

.align-items-center {
    align-items: center;
}

.d-flex {
    display: flex;
    justify-content: flex-start;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.container-fluid {
    text-align: center;
}



td {
    border: 2px solid;
    border-color: #255FA2;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: small;
    max-height: fit-content;
}

table {
    border: 3px solid;
    border-color: #255FA2;
    border-collapse: collapse;
    width: -moz-available;
    height: max-content;
}
#contenedor-paginas{
    padding-top: 1rem;
    display: flex;
    justify-content: center;
  }
#contenedor-paginas span{
    padding-right: 4px;
}
.spanPaginas{
    color: rgb(30, 76, 130);
    cursor: pointer;
    
}
th {
    color: rgb(30, 76, 130);
    border: 2px solid;
    height: 2rem;
    max-height: 2rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: large;

}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#barra-de-busqueda-con-boton {
    margin-top: 2px;
    grid-row-start: 2;
    max-height: 60px;
    margin-left: 6px;
    margin-bottom: 20px;
}

#respuesta {
    grid-row-start: 4;
}

.main-search-input {
    background: #fff;
    padding: 0 120px 0 0;
    border-radius: 1px;
    margin-top: 10px;
    box-shadow: 0px 0px 0px 6px rgba(22, 55, 245, 0.5);
}

.fl-wrap {
    float: left;
    position: relative;
    width: 60%;
}

.map {
    text-align: center;
}



.main-search-input:before {
    content: '';
    position: absolute;
    bottom: -40px;
    width: 35px;
    height: 1px;
    background: rgba(255, 255, 255, 0.41);
    left: 50%;
    margin-left: -25px;
}

.main-search-input-item {
    float: left;
    width: 100%;
    box-sizing: border-box;
    border-right: 1px solid #eee;
    height: 35px;
    position: relative;
}

.main-search-input-item input:first-child {
    border-radius: 100%;
}

.main-search-input-item input {
    float: left;
    border: none;
    width: 100%;
    font-size: large;
    height: 35px;
    padding-left: 20px;
}

.main-search-button {
    background: #094268;
}

.main-search-button {
    position: absolute;
    right: 0px;
    height: 35px;
    width: 160px;
    color: #fff;
    top: 0;
    border: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    cursor: pointer;
}

.main-search-input-wrap {
    max-width: 600px;
    position: relative;
}

:focus {
    outline: 0;
}


@media only screen and (max-width: 768px) {
    .main-search-input {
        background: rgba(255, 255, 255, 0.2);
        padding: 14px 20px 10px;
        border-radius: 10px;
        box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.0);
    }

    .main-search-input-item {
        width: 100%;
        border: 1px solid #eee;
        height: 35px;
        border: none;
        margin-bottom: 10px;
    }

    .main-search-input-item input {
        border-radius: 6px !important;
        background: #fff;
    }

    .main-search-button {
        position: relative;
        float: left;
        width: 100%;
        border-radius: 6px;
    }


}

#busqueda-avanzada{
    padding-top: 1rem;
}


span.link {
    cursor: pointer;

    font-weight: bold;
}

.displayMe {

    position: absolute;
    z-index: 0;
}

.displayMe img {
    box-shadow: 2px 2px 5px;
    max-width: 1000px;
    max-height: 450px;
}

@keyframes highlightInNuevaloja {
    0% {
        fill: #f59f26c4;

    }

    100% {
        fill: #420fcfc9;
    }
}

@keyframes highlightOutNuevaloja {
    0% {
        fill: #420fcfc9;
    }

    100% {

        fill: #f59f26c4;
    }
}

@keyframes highlightInEsmeraldas {
    0% {
        fill: #33cbd3be;

    }

    100% {
        fill: #420fcfc9;
    }
}

@keyframes highlightOutEsmeraldas {
    0% {
        fill: #420fcfc9;
    }

    100% {

        fill: #33cbd3be;
    }
}

@keyframes highlightInGuayaquil {
    0% {
        fill: #91bd5f;

    }

    100% {
        fill: #420fcfc9;
    }
}

@keyframes highlightOutGuayaquil {
    0% {
        fill: #420fcfc9;
    }

    100% {

        fill: #91bd5f;
    }
}

@keyframes highlightInQuito {
    0% {
        fill: #e63d3dc4;

    }

    100% {
        fill: #420fcfc9;
    }
}

@keyframes highlightOutQuito {
    0% {
        fill: #420fcfc9;
    }

    100% {

        fill: #e63d3dc4;
    }
}

@keyframes highlightInTulcan {
    0% {
        fill: #85069eb7;

    }

    100% {
        fill: #420fcfc9;
    }
}

@keyframes highlightOutTulcan {
    0% {
        fill: #420fcfc9;
    }

    100% {

        fill: #85069eb7;
    }
}

@keyframes highlightInSantodomingo {
    0% {
        fill: #dfd436c4;

    }

    100% {
        fill: #420fcfc9;
    }
}

@keyframes highlightOutSantodomingo {
    0% {
        fill: #420fcfc9;
    }

    100% {

        fill: #dfd436c4;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes rotarRefreshimg {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

#boton-basura {
    width: 20px;
    height: 20px;
    margin-top: 8px;
    margin-left: 8px;
    border-radius: 100%;
    padding: 7px;
}

#boton-basura:hover {
    animation: rotarRefreshimg 1.5s infinite linear;
    cursor: pointer;
}



svg {
    height: 60%;
    max-height: 60%;
}

.cls-1,
.cls-2,
.cls-3,
.cls-4,
.cls-5,
.cls-6,
.cls-7,
.cls-8,
.cls-9,
.cls-10 {
    stroke: #fff;
    stroke-miterlimit: 10;
}

.cls-1,
.cls-2,
.cls-7,
.cls-10 {
    fill: #91bd5f;
}


.cls-2,
.cls-3,
.cls-4,
.cls-6,
.cls-8,
.cls-9,
.cls-10 {
    stroke-width: 3px;
}

.cls-3 {
    fill: #f59f26c4;
}

.cls-4 {
    fill: #33cbd3be;
}

.cls-5 {
    fill: #e63d3dc4;
    stroke-width: 2px;
}

.cls-6 {
    fill: none;
}

.cls-7 {
    stroke-width: .75px;
}

.cls-8 {
    fill: #dfd436c4;
}

.cls-9 {
    fill: #85069eb7;
}

#consulado_guayaquil_svg:hover path {
    fill: #420fcfc9;
    transition: 0.6s;
    cursor: pointer;
}

#consulado_nuevaloja_svg:hover path {
    fill: #420fcfc9;
    transition: 0.6s;
    cursor: pointer;
}

#consulado_quito_svg:hover path {
    fill: #420fcfc9;
    transition: 0.6s;
    cursor: pointer;
}

#consulado_santodomingo_svg:hover path {
    fill: #420fcfc9;
    transition: 0.6s;
    cursor: pointer;
}

#consulado_tulcan_svg:hover path {
    fill: #420fcfc9;
    transition: 0.6s;
    cursor: pointer;
}

#consulado_esmeraldas_svg:hover path {
    fill: #420fcfc9;
    transition: 0.6s;
    cursor: pointer;
}

.clase-tulcan {
    cursor: pointer;
    color: rgb(175, 96, 206);
    font-weight: bold;
}

.clase-guayaquil {
    font-weight: bold;
    cursor: pointer;
    color: rgb(94, 156, 70)
}

.clase-quito {
    font-weight: bold;
    cursor: pointer;
    color: rgb(201, 85, 76)
}

.clase-nuevaloja {
    font-weight: bold;
    cursor: pointer;
    color: rgb(243, 143, 61)
}

.clase-santodomingo {
    font-weight: bold;
    cursor: pointer;
    color: rgba(204, 174, 2, 0.884)
}

.clase-esmeraldas {
    font-weight: bold;
    cursor: pointer;
    color: rgba(10, 123, 175, 0.945)
}
.contenedor-tabla{
    width: inherit;
}